<mat-card class="content logged">
  <div class="row">
    <div class="col-12 send-offer">
      <div *ngIf="this.isOfferSent && this.latestOffer">
        <!-- approved -->
        <div *ngIf="this.latestOffer.type === 0" class="offer-data">
          <h1>CONGRATULATIONS!</h1>
          <h1>YOU HAVE BEEN PRE-APPROVED</h1>
          <h4>Pre-Approval Data:</h4>
          <h1>
            ${{ this.latestOffer.lowOffer }} - ${{ this.latestOffer.highOffer }}
          </h1>
          <h3>
            Term Loans = ${{ this.latestOffer.lowTermLoan }} to ${{
              this.latestOffer.highTermLoan
            }}
          </h3>
          <h3>Revolving Lines = $15,000 to $45,000</h3>
          <h3>APR</h3>
          <h2>
            {{ this.latestOffer.tierFrom }}% - {{ this.latestOffer.tierTo }}%
          </h2>
          <h3>ORIGINATION/BACKEND FEE</h3>
          <div>
            {{ this.latestOffer.backEndFee }}% of Total Funding Achieved
          </div>
        </div>
        <!-- freeze -->
        <div *ngIf="this.latestOffer.type === 1"></div>
        <!-- decline -->
        <div *ngIf="this.latestOffer.type === 2">
          <h1 class="mt-5 mb-5">Credit Declined</h1>
        </div>
      </div>
      <button mat-raised-button color="primary" (click)="this.getOffer()">
        <span *ngIf="!this.isOfferSent">Send offer to email</span>
        <span *ngIf="this.isOfferSent">Send new offer to email</span>
      </button>
    </div>
  </div>
</mat-card>
